.App {
  display: grid;
  grid-template-columns: minmax(10px, 10%) 2fr;
  grid-gap: 20px;
}

.profile {
  background-color: black;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

p {
  color: grey;
  
}

li {
  list-style-type: none;
  padding: 20px;
  border-bottom: 1px solid grey;
}

a {
  color: black;
  text-decoration: none;

}
a:hover {
  color:yellow;
}

.orange {
  color: orange;
}

.red {
  color:red;
}

.blue {
  color:blue;
}

.green {
  color:green;
}

.brown{
  color:brown;
}
